
extends layout

block title
  title talkLiveNoteMrkDwn - editorLogin

block content
  div#main.container
    h1.text-center
      a(href="/") talkLiveNoteMrkDwn
      span >editorLogin
    hr
    form.form-group(method="get" action="/editor")
      p.text-center
        input.form-control.text-center(type="text" name="userId")
      p.text-center
        button.btn.btn-success.btn-xs(type="submit") login