
extends layout

block title
  title talkLiveNoteMrkDwn - home

block content
  div#main.container.text-center
    h1
      span talkLiveNoteMrkDwn
    p: a(href="/speech") >speech
    p: a(href="/editor") >editor
    p: a(href="/visualize") >visualize