doctype html
html( lang='en' )
    head
        block head
            block title
            meta( charset='utf-8' )
            meta( http-equiv='X-UA-Compatible', content='IE=edge' )
            meta( name='viewport', content='width=device-width, initial-scale=1.0' )
            meta( name='description', content='Baking Bootstrap Snippets with Jade' )
            //- Bootswatch Theme
            link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css', rel='stylesheet')
            link(href='/css/style.css' rel='stylesheet')
            script( src='https://code.jquery.com/jquery-1.12.4.min.js' )
            script( src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
 
    body(style='padding-bottom:10rem;')
        block content
        script( src='/js/zero.js')